.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  width: 50%; /* Ajusta el ancho del formulario según sea necesario */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.campos {
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.text {
  margin-bottom: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.resultado {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.resumen-mensual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-top: 16px;
}

.resumen-mensual h3 {
  margin: 8px 0;
}

.resumen-mensual ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.resumen-mensual li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}

.resumen-mensual strong {
  font-weight: bold;
}

